/* border box makes the width and height value exactly its value */
* { box-sizing: border-box; }

header{
    text-align: center;
}
footer{
    text-align: center;
}
body{
    background-image: url("../img/peter-broomfield-m3m-lnR90uM-unsplash\ \(1\).jpg");
    color:aqua
}
.map{
    /* margin: top right bottom left */
    /* margin: 50px; */

    margin-top: 50px;
}
nav{
    text-align: center;
    background-color: blueviolet;
    padding: 10px;
    margin-top: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.form{
    /* margin: top right bottom left */
    margin: 50px;

    max-width: 300px;


}