header{
    text-align: center;
}
footer{
    text-align: center;
}
body{
    background-image: url("../img/peter-broomfield-m3m-lnR90uM-unsplash\ \(1\).jpg");
    color:aqua
}
.map{
    margin: 15%;
}
nav{
    text-align: center;
}